/* ---------- specification ---------- */
@import 'normalize.css';

@font-face {
  src: url('../fonts/BIG\ JOHN.otf');
  font-family: 'BigJohn';
}
@font-face {
    src: url('../fonts/OpenSans.ttf');
    font-family: 'OpenSans';
  }
  @font-face {
    src: url('../fonts/OpenSansBold.ttf');
    font-family: 'OpenSansBold';
  }
  @font-face {
    src: url('../fonts/SourceSansPro-Light.otf');
    font-family: 'SourceSansProLight';
  }
  @font-face {
    src: url('../fonts/fontello.woff');
    font-family: 'fontello';
  }
  @font-face {
    src: url('../fonts/RobotoLight.ttf');
    font-family: 'RobotoLight';
  }
    
html {
    font-size: 10px;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
  
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 0;
}


/*--------- scroll styles --------*/
::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 5px;
    height: 0;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #19bd9a;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #56999f;
}

::-webkit-resizer{
    background-image: url('');
    background-repeat: no-repeat;
    width: 5px;
    height: 0;
}

::-webkit-scrollbar{
    width: 6px;
}

/*-------header----*/

.header {
    width: 100%;
    position: relative;
    color: #ffffff;

    &:before {
        content: '';
        position: absolute;
        background-image: url('../img/headerBG.png');
        background-color: #000;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: -1;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 39px;
    }

    &__logo {
        font-size: 2.5rem;
        color: #fff;
        font-family: 'BigJohn';
    }

}

.header__txt{
    text-align: center;
    width: 100%;
    margin-top: 230px;
}
.header__txt__title{
    font-family: 'SourceSansProLight';
    font-size: 3.5rem;
    color: #fff;
    text-transform: uppercase;
}
.header__txt__info{
    font-size: 1.6rem;
    color: #fff;
    font-family: 'OpenSans';
    margin: 45px 0 225px;
}
.header__txt__button{
    width: 36px;
    height: 36px;
    background-color: #19bd9a;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: -20px;
}
.header__txt__btn{
    text-decoration: none;
    font-family: 'fontello';
    color: #fff;
    font-size: 3rem;
    &:hover{
        text-decoration: none;
        color: #fff;
    }
}

// burger begin
.burger {
    display: none;

    &__menu {
        padding-top: 5px;
        display: flex;
        align-items: center;

        & > li {
            margin-right: 2px;

            &:last-child{
                margin-right: 0;
            }

        }
    }

    &__link {
        border: 1px solid transparent;
        padding: 5px 20px;
        font-size: 1.6rem;
        font-family: 'OpenSans';
        color: #fff;
        transition: all 0.5s;
        border-radius: 25px;
        text-transform: capitalize;

        &:hover{
            color: #fff;
            border: 1px solid #fff;
            transition: all 0.5s;
        }

    }

    // burger icon begin
    &__line {
        height: 4px;
        width: 40px;
        background: #ffffff;
        margin: 5px auto;
        border-radius: 2px;
        transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    > div {
        width: 50px;
        height: 50px;
        padding: 1px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover, &:focus {
            outline: none;
        }
    }

    > span {
        display: inline-block;
        text-align: center;
        line-height: 1.2;
        padding: 20px;
        margin-top: auto;
    }
    // burger icon end
}

.burger__item {
    display: none;
    &.open {
        .burger__line:nth-child(1) {
            transform: rotate(45deg) translate(8px, 8px);
        }
        .burger__line:nth-child(2) {
            visibility: hidden;
        }
        .burger__line:nth-child(3) {
            transform: rotate(-45deg) translate(15px, -16px);
        }
    }
}
// burger end


/*-----BOUNCY---------*/

.Bouncy__content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 115px;
}
.Bouncy__txt{
    width: 500px;
}
.Bouncy__txt__name{
    font-family: 'SourceSansProLight';
    color: #333b46;
    font-size: 2rem;
}
.Bouncy__txt__info{
    font-family: 'OpenSans';
    font-size: 1.4rem;
    color: #81868e;
    margin: 50px 0 40px;
    line-height: 25px;
}
.Bouncy__txt__link{
    text-decoration: none;
    font-family: 'OpenSans';
    font-size: 1.6rem;
    color: #333b46;
    padding: 13px 30px;
    border: 1px solid #333b46;   
    border-radius: 25px; 
    transition: 0.3s;
    &:hover{
        text-decoration: none;
        color: #fff;
        background-color: #333b46;
        transition: 0.3s;
    }
}

/*------ABOUT-------*/

.about{
    background-color: #f3f3f3;
    padding: 80px 0 100px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__box {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    &__title {
        margin-bottom: 40px;
        font-family: 'SourceSansProLight';
        font-size: 2rem;
        color: #333b46;
        text-transform: uppercase;
    }
    &__text{
        font-family: 'OpenSans';
        color: #81868e;
        font-size: 1.4rem;
    }

}
.slider__title{
    font-family: 'OpenSans';
    font-size: 2rem;
    color: #464646;
    margin-bottom: 20px;
}
.slider__text{
    font-family: 'OpenSans';
    font-size: 1.4rem;
    color: #81868e;
    line-height: 25px;
}
/*-------- SLIDER -------*/

.slider {

    &__buttons {
        display: flex;
        justify-content: center;
        padding: 62px 0;
    }

    &__button {
        margin: 0 15px;
        font-family: "fontello";
        font-size: 2rem;
        width: 53px;
        height: 53px;
        background-color: #81868e;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        &:hover{
            background-color: #1fbba6;
        }
    }

    &__window {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 170px;
        overflow: hidden;
    }

    &__slide {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 0;
        opacity: 0;
        transition: all .5s ease-in;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 90%;
    }

    &__wrapper {
        display: flex;
        align-items: flex-start;
    }

    &__box {

        &--left {
            flex-basis: 30%;
            margin-right: 20%;
        }

        &--right {
            flex-basis: 50%;
        }

    }

    &__text {
        height: 170px;
    }

}
.slider__active{
    background-color: #1fbba6;
}

/*----project------*/

.projects__content{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.projects__main__name{
    margin-bottom: 45px;
    font-size: 2rem;
    font-family: 'SourceSansProLight';
    color: #333b46;
}
.projects__main__title{
    margin-bottom: 65px;
    font-size: 1.4rem;
    color: #81868e;
    font-family: 'OpenSans';
}
.projects__categories{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.projects__categories__item{
    overflow: hidden;
    height: 320px;
    background-repeat: no-repeat;
    width: 33.333333333%;
    background-size: cover;
    background-position: center center;
    box-shadow:0 0 0 200px rgba(0, 0, 0, 0.7) inset;
    transition: 0.3s;
    &:hover{
        box-shadow:0 0 0 200px rgba(0, 0, 0, 0) inset;
        transition: 0.3s;
    }
    &:hover .projects__categories__item__name{
        display: none;
        transition: 0.3s;
    } 
}
.projects__categories__item__name{
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin-top: 130px;
}
.projects__categories_one{
    background-image: url('../img/work1.jpg');
    transition: 0.3s;
    &:hover{
        width: 50%;
        transition: 0.3s;
    }
    &:hover .projects__categories_two{
        width: 25%;
        transition: 0.3s;
    }
    &:hover .projects__categories_three{
        width: 25%;
        transition: 0.3s;
    }
}
.projects__categories_two{
    background-image: url('../img/work2.jpg');
    transition: 0.3s;
    &:hover{
        width: 50%;
        transition: 0.3s;
    }
    &:hover .projects__categories_one{
        width: 25%;
        transition: 0.3s;
    }
    &:hover .projects__categories_three{
        width: 25%;
        transition: 0.3s;
    }
}
.projects__categories_three{
    background-image: url('../img/work3.jpg');
    transition: 0.3s;
    &:hover{
        width: 50%;
        transition: 0.3s;
    }
    &:hover .projects__categories_one{
        width: 25%;
        transition: 0.3s;
    }
    &:hover .projects__categories_two{
        width: 25%;
        transition: 0.3s;
    }
}
.projects__down{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url('../img/workFT.png');
    text-align: center;
    justify-content: space-around;
}
.projects__down__txt{
    font-size: 2rem;
    color: #fff;
    font-family: 'OpenSans';
    margin: 45px 0;
}
.projects__down__btn{
    width: 140px;
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    font-family: 'OpenSans';
    border: 1px solid #fff;
    border-radius: 20px;
    margin-top: 45px;
    margin-bottom: 40px;
    transition: 0.3s;
    &:hover{
        text-decoration: none;
        color: #fff;
        background-color: #07725b;
        transition: 0.3s;
    }
}


/*--------services-------*/
.services__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.services__main{
    text-align: center;
    width: 100%;
    margin-bottom: 60px;
}
.services__main__name{
    text-transform: uppercase;
    font-size: 2rem;
    color: #333b46;
    font-family: 'SourceSansProLight';
    margin-top: 80px;
    margin-bottom: 45px;
}
.services__main__info{
    font-size: 1.4rem;
    color: #81868e;
    font-family: 'OpenSans';
}
.services__btn{
     @extend .slider__button;
     margin: 5px 0;
 }
.services__active{
    background-color: #1fbba6;
}
.services__nav{
      width: 5%;
      display: flex;
      flex-direction: column;
  }
.services__slider{
    width: 90%;
}


.services__slide__leftTXT__name{
    font-size: 2rem;
    color: #464646;
    font-family: 'OpenSans';
    margin-bottom: 45px;
}
.services__slide__leftTXT__info{
    color: #81868e;
    font-size: 1.6rem;
    font-family: 'OpenSans';
    line-height: 25px;
}

.right__items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.services__slide__rightTXT__progress{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #81868e;
    font-size: 2.5rem;
    width: 120px;
    height: 120px;
    border: 3px solid #19bd9a;
    border-radius: 50%;
    margin: 0 25px;
    font-family: 'OpenSans';
    position: relative;
}
.services__slide__rightTXT__name{
    font-size: 1.6rem;
    color: #81868e;
    font-family: 'RobotoLight';
}

.slider {

    &__content2 {
        width: 100%;
    }

    &__wrapper2 {
        display: flex;
    }

    &__window2 {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 270px;
        overflow: hidden;
        flex-direction: column;
    }

    &__slide2 {
        width: 100%;
        height: 0;
        opacity: 0;
        transition: all .7s ease-in;
    }

    &__box2--left {
        width: 50%;
    }
    &__box2--right {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 50%;
    }

}


/*------IMPRESED------*/

.impresed{
    margin-top: 140px;
    background-image: url('../img/BG.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.impresed__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.impresed__info{
    width: 50%;
}
.impresed__name{
    font-size: 2rem;
    color: #fff;
    font-family: 'SourceSansProLight';
    text-transform: uppercase;
    letter-spacing: 7px;
    padding-top: 80px;
    margin-bottom: 60px;
}
.impresed__text{
    color: #b2b3b3;
    font-size: 1.6rem;
    font-family: 'OpenSans';
    line-height: 30px;
}
.impresed__sign{
    font-family: 'OpenSansBold';
    font-size: 1.4rem;
    color: #b2b3b3;
    text-transform: uppercase;
    line-height: 30px;
    margin-top: 35px;
    padding-bottom: 45px;
    &>span{
        font-family: 'OpenSans';
    }
}
.impresed__img{
    display: block;
    width: 50%;
    position: relative;
    top: -130px;
    left: 75px;
    margin-bottom: -115px;
}


/*-------PORTFOLIO------*/



.portfolio{
    background-color: #f3f3f3;
}
.portfolio__content{
    text-align: center;
    justify-content: center;
    padding-bottom: 100px;
}
.portfolio__head__name{
    color: #333b46;
    font-size: 2rem;
    font-family: 'SourceSansProLight';
    letter-spacing: 7px;
    padding-top: 80px;
    margin-bottom: 45px;
}
.portfolio__head__title{
    color: #81868e;
    font-size: 1.4rem;
    font-family: 'OpenSans';
}
.portfolio__nav__item{
    display: inline-block;
    margin: 0 21px;
    margin-top: 85px;
    margin-bottom: 80px;
}
.portfolio__nav__link{
    text-decoration: none;
    color: #464646;
    font-size: 1.6rem;
    padding-bottom: 10px;
    font-family: 'OpenSans';
    transition: 0.3s;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    &:hover{
        text-decoration: none;
        color: #464646;
        border-bottom: 3px solid #19bd9a;
        transition: 0.3s;
    }
}
.portfolio__catalogImg{
    height: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.portfolio__catalog__item{
    position: relative;

    transition: all 0.3s ease-in-out;
    &:hover .portfolio__catalog__overflow{
        background-color: rgba(#000 , 0.7);
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }
}
.portfolio__catalog__overflow{
    transition: all 0.3s ease-in-out;
    padding-left: 30px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
}
.link__box{
    display: flex;
    justify-content: center;
}
.portfolio__catalog__item__name{
    font-size: 2rem;
    color: #19bd9a;
    font-family: 'SourceSansProLight';
    letter-spacing: 5px;
}
.portfolio__catalog__item__txt{
    font-size: 1.2rem;
    width: 60%;
    color: #b2b3b3;
    font-family: 'OpenSans';
}
.portfolio__catalog__item__link{
    text-decoration: none;
    color: #ffffff;
    font-family: 'fontello';
    font-size: 2rem;
    margin: 0 20px;
    &:hover{
        text-decoration: none;
        color: #07725b;
    }
}
.portfolio__catalog__item1{
    background-image: url('../img/portfolio11.png');
    width: 270px;
    height: 361px;
}
.portfolio__catalog__item2{
    background-image: url('../img/portfolio21.png');
    width: 270px;
    height: 361px;
}
.portfolio__catalog__item3{
    background-image: url('../img/portfolio31.png');
    width: 270px;
    height: 209px;
}
.portfolio__catalog__item4{
    background-image: url('../img/portfolio12.png');
    width: 270px;
    height: 229px;
}
.portfolio__catalog__item5{
    background-image: url('../img/portfolio22.png');
    width: 270px;
    height: 344px;
}
.portfolio__catalog__item6{
    background-image: url('../img/portfolio32.png');
    width: 270px;
    height: 357px;
}
.portfolio__catalog__item7{
    background-image: url('../img/portfolio13.png');
    width: 270px;
    height: 301px;
}
.portfolio__catalog__item8{
    background-image: url('../img/portfolio23.png');
    width: 270px;
    height: 374px;
}
.portfolio__catalog__item9{
    background-image: url('../img/portfolio33.png');
    width: 270px;
    height: 255px;
}
.portfolio__catalog__item10{
    background-image: url('../img/portfolio14.png');
    width: 270px;
    height: 361px;
}
.portfolio__catalog__item11{
    background-image: url('../img/portfolio24.png');
    width: 270px;
    height: 269px;
}
.portfolio__catalog__item12{
    background-image: url('../img/portfolio34.png');
    width: 270px;
    height: 301px;
}
.portfolio__footer{
    background-image: url('../img/portfolioFT.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.portfolio__footer__txt{
    font-size: 2rem;
    font-family: 'OpenSans';
    padding-top: 65px;
    margin-bottom: 35px;
}
.portfolio__footer__btn{
    font-size: 1.6rem;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 25px;
    margin-bottom: 55px;
    transition: 0.3s;
    &:hover{
        transition: 0.3s;
        color: #000;
        background-color: #fff;
    }
}
.portfolio__catalog__item__name{
    font-size: 2rem;
    font-family: 'SourceSansProLight';
    color: #19bd9a;
}





/*-----------TEAM---------*/

.team__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.team__head{
    width: 100%;
}
.team__head__name{
    margin-top: 80px;
    margin-bottom: 40px;
    font-family: 'SourceSansProLight';
    color: #333b46;
    font: 2rem;
}
.team__head__title{
    margin-bottom: 65px;
    color: #81868e;
    font-size: 1.4rem;
    font-family: 'OpenSans';
}
.team__slider{
    width: 100%;

}
.team__window{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 370px;
    overflow: hidden;
}
.team__slide{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 0;
    opacity: 0;
    transition: all .5s ease-in;
}

.slider__left{
    height: 364px;
    width: 285px;
    background-image: url('../img/teamIMG.png');
}
.slider__right{
    overflow: auto;
    height: 360px;
    padding-right: 10px;
}
.right__name{
    color: #464646;
    font-size: 2rem;
    font-family: 'OpenSans';
}
.right__work{
    font-family: 'SourceSansProLight';
    color: #81868e;
    font-size: 1.4rem;
    text-transform: uppercase;
}
.right__txt{
    font-family: 'OpenSans';
    color: #81868e;
    font-size: 1.4rem;
}
.slider__right{
    text-align: right;
    width: 390px;
}
.right__work{
    margin-bottom: 35px;
}
.right__txt{
    margin-bottom: 50px;
}
.statistic__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px  solid #19bd9a;
    margin-bottom: 25px;
    &>p{
        text-transform: uppercase;
        font-size: 1.6rem;
        color: #81868e;
        font-family: 'OpenSans';
    }
}
.team__btn{
    margin: 10px 5px 0;
    width: 15px;
    height: 15px;
    border: 1px solid #19bd9a;
    border-radius: 50%;
    &:hover{
        background-color: #19bd9a;
    }
}


/*------contactUS------*/
.contactUS{
    background-image: url('../img/teamFT.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 70px;
}
.contactUS__content{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.contactUS__txt{
    padding-bottom: 35px;
    font-family: 'OpenSans';
    font-size: 2rem;
    color: #fff;
}
.contactUS__btn{
    padding: 10px 25px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'OpenSans';
    font-size: 1.6rem;
    border: 1px solid #fff;
    border-radius: 25px;
    transition: 0.3s;
    &:hover{
        text-decoration: none;
        color: #000;
        background-color: #fff;
        transition: 0.3s;
    }
}




/*-----------testimonials------*/


.testimonials{
    background-color: #f3f3f3;
}
.testimonials__content{
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
}
.testimonials__head{
    width: 100%;
    padding: 75px   0;
}
.head__name{
    text-transform: uppercase;
    font-family: 'SourceSansProLight';
    color: #333b46;
    font-size: 2rem;
    margin-bottom: 45px;
}
.head__title{
    font-family: 'OpenSans';
    font-size: 1.4rem;
    color: #81868e;
}
.testimonials__slide{
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 100px;
}
.testimonials__left{
    display: flex;
    justify-content: center;
    width: 25%;
    margin-top: 55px;
    &>img{
        display: block;
        width: 130px;
        height: 130px;
    }
}
.testimonials__right{
    width: 65%;
    margin-top: 55px;
    margin-bottom: 35px;
}
.testimonials__txt{
    font-family: 'OpenSans';
    font-size: 1.6rem;
    color: #81868e;
    margin-bottom: 40px;
}
.testimonials__name{
    font-family: 'OpenSansBold';
    font-size: 1.6rem;
    color: #19bd9a;
}
.testimonials__job{
    font-family: 'OpenSans';
    font-size: 1.4rem;
    color: #464646;
    margin-bottom: 125px;
}
.testimonials__btn{
    @extend .team__btn;
}
.testimonials__buttons{
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    bottom: 130px;
}
.testimonials__window{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.testimonials__slide{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 0;
    opacity: 0;
    transition: all .5s ease-in;
}
.testimonials__active{
    background-color: #19bd9a;
}

/*--------news-------*/

.news{
    background-image: url('../img/blogBG.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.news__name{
    font-family: 'SourceSansProLight';
    color: #ffffff;
    font-size: 2rem;
    padding-top: 85px;
    margin-bottom: 45px;
}
.news__title{
    font-family: 'OpenSans';
    font-size: 1.4rem;
    color: #b2b3b3;
    margin-bottom: 110px;
}
.post__name{
    font-family: 'OpenSans';
    color: #e1e4e9;
    font-size: 2rem;
}
.post__man{
    font-family: 'SourceSansProLight';
    font-size: 1.4rem;
    color: #81868e;
    text-transform: uppercase;
    &>span{
        color: #19bd9a;
    }
}
.post__statistic{
    font-family: 'SourceSansProLight';
    font-size: 1.4rem;
    color: #464646;
    margin-bottom: 85px;
}
.post__txt{
    font-family: 'OpenSans';
    font-size: 1.4rem;
    color: #81868e;
}
.post__more{
    text-decoration: none;
    font-family: 'OpenSans';
    font-size: 1.6rem;
    color: #b2b3b3;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
    &:hover{
        text-decoration: none;
        color: #b2b3b3;
        border-bottom: 3px solid #b2b3b3;
        transition: 0.3s;
    }
}
.news__slider{
    display: flex;
    justify-content: space-between;
}
.news__window{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    height: 350px;
    overflow: hidden;
    flex-direction: column;
}
.news__slide{
    //margin-left: 70px;
    //padding-bottom: 105px;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: all .7s ease-in;
}
.news__buttons {
    width: 5%;
}
.news__btn{
    @extend .testimonials__btn;
    border-color: #b2b3b3;
    &:hover{
        background-color: #b2b3b3;
    }
}
.news__active{
    background-color: #b2b3b3;
}


/*-------price-------*/


.price{
    background-color: #f3f3f3;
}
.price__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}
.price__head{
    width: 100%;
    padding-top: 80px;
}
.price__categories{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 60px 0 100px;
}
.price__card{
    margin-top: 10px;
    width: 235px;
    height: 300px;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in;

    &:hover .card__name {
        bottom: 0;
        top: 231px;
        transition: all .5s ease-in;
    }

    &:hover .card__price {
        opacity: 0;
        width: 0;
        height: 0;
        transition: all .1s ease-in;
    }

    &:hover .price__overflow {
        opacity: 1;
        bottom: 0;
        transition: all .9s ease-in;
    }

}

.price__overflow {
    margin-top: 20px;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 1.5rem;
    transition: all .3s ease-in;
    & p{
        color: #81868e;
        font-size: 1.4rem;
        font-family: 'OpenSans';
    }
}

.card__name{
    padding: 20px 0;
    text-transform: uppercase;
    font-family: 'OpenSansBold';
    color: #ffffff;
    background-color: #19bd9a;
    font-size: 2rem;
    position: absolute;
    height: 69px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all .5s ease-in;
}
.card__price{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all .9s ease-in;
    & p {
        &:first-child {
            font-family: 'SourceSansProLight';
            font-size: 4.3rem;
            color: #1fbba6;
            font-weight: bold;
        }
        &:last-child {
            font-family: 'OpenSans';
            font-size: 2rem;
            color: #81868e;
            white-space: nowrap;
        }
    }
}




/*--------subscribe--------*/

.subscribe{
    background-image: url('../img/subscribeBG.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.subscribe__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.subscribe__head{
    width: 100%;
}
.subscribe__name{
    @extend .news__name;
    text-transform: uppercase;
}
.subscribe__title{
    @extend .news__title;
}
.subscribe__input{
    padding-left: 20px;
    background-color: transparent;
    font-family: 'OpenSans';
    color: #ffffff;
    font-size: 1.4rem;
    border: 1px solid #ffffff;
    width: 360px;
    height: 40px;
}
.subscribe__btn{
    margin-left: 10px;
    margin-bottom: 100px;
    width: 145px;
    height: 40px;
    border: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.4rem;
    background-color: #19bd9a;
}




/*------contact---------*/


.contact{
    background-color: #f3f3f3;
}
.contact__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact__head{
    padding-top: 80px;
    padding-bottom: 65px;
    text-align: center;
    width: 100%;
}
.contact__name{
    margin-bottom: 45px;
    font-family: 'SourceSansProLight';
    font-size: 2rem;
    color: #333b46;
    text-transform: uppercase;

}
.contact__text{
    font-family: 'OpenSans';
    color: #81868e;
    font-size: 1.4rem;
}
.contact__item{
    margin-bottom: 100px;
    background-color: #fff;
    text-align: center;
    background-repeat: no-repeat;
    width: 287px;
    height: 273px;
    background-image: url('../img/contact1.png');
}
.item__icon{
    font-family: 'fontello';
    color: #ffffff;
    font-size: 5rem;
    padding-top: 35px;
}
.item__name{
    margin-top: 55px;
    font-family: 'OpenSans';
    color: #464646;
    font-size: 1.6rem;
}
.item__txt{
    font-family: 'OpenSans';
    color: #81868e;
    font-size: 1.4rem;
}


/*------form----*/
.form__body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form__information{
    padding-left: 15px;
    margin: 80px 0 30px;
    font-family: 'OpenSans';
    font-size: 1.4rem;
    width: 30%;
    height: 40px;
}
.form__coment{
    width: 100%;
    height: 190px;
}
.form__btn{
    width: 100%;
    font-size: 1.4rem;
    font-family: 'OpenSans';
    margin-top: 30px;
    margin-bottom: 130px;
    background-color: #19bd9a;
    color: #ffffff;
    border: none;
    padding: 10px 0;
}
.form__coment{
    font-size: 1.4rem;
}



/*---------map-------*/
.map__overflow{
    transition: all 0.3s ease-in-out;
    padding-left: 30px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 1;
    background-color: rgba(#000 , 0.7);
}
.map{
    position: relative;
    transition: all 0.3s ease-in-out;
    height: 429px;
    //background-image: url('../img/map.png');
    //background-repeat: no-repeat;
    //background-position: center center;
    //background-size: cover;
    &:hover .map__overflow{
        background-color: rgba(#000 , 0.7);
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
}

.map__content{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    & p{
        margin: 230px 5px 0;
        &:first-child{
            color: #ffffff;
            font-size: 1.6em;
            font-family: 'OpenSans';
        }
        &:last-child{
            font-family: 'fontello';
            font-size: 1.4rem;
            color: #ffffff;
            background-color: #07725b;
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
    }
}

/*-----------footer------*/
.footer__content{
    padding: 85px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.footer__name{
    width: 100%;
    font-family: 'BigJohn';
    font-size: 2.5rem;
    color: #000;
    text-transform: uppercase;
}
.footer__sign{
    margin: 30px 0 40px;
    width: 100%;
    font-family: 'OpenSans';
    font-size: 1.4rem;
    color: #81868e;
}
.footer__link{
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'fontello';
    background-color: #3b5998;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    &--bgBlueLight{
        @extend .footer__link;
        background-color: #26a6d1;
    }
    & a{
        text-decoration: none;
        color: #ffffff;
        font-size: 1.4em;
    }
}


/*---------ADAPTIVE------------*/

@media (max-width: 925px) {
    .burger {
        display: flex;
        position: absolute;
        right: 20px;
        top: 30px;

        &__menu {
            display: none;
            flex-direction: column;
            width: 100%;
            position: absolute;
            top: 87px;
            left: 0;
            height: 0;
            & > li {
                display: flex;
                justify-content: center;
                margin: 0;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
            transition: all .5s ease;

            &.open {
                display: flex;
                height: auto;
                transition: all .5s ease;
            }
        }
    }
    .header__txt__title{
        opacity: 0;
    }
    .header__txt__info{
        opacity: 0;
    }
    .slider__wrapper2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .slider__box2--left{
        width: 100%;
    }
    .slider__box2--right{
        width: 100%;
    }
    .slider__window2{
        height: 400px;
    }



    .impresed__info{
        margin-left: 40px;
    }
    .impresed__img{
        display: none;
    }


    .portfolio__catalogImg{
        height: 1450px;
    }
}
@media (max-width: 768px) {
    .portfolio__catalogImg{
        height: 2000px;
        align-items: center;
    }
    .news__head{
        margin-left: 10px;
    }
    .news__name{
        padding-top: 10px;
        margin-bottom: 10px;
    }
    .news__slide{
        margin-left: 10px;
    }

}
@media (max-width: 544px) {
    .Bouncy__content{
        margin-top: 15px;
    }
    .Bouncy__img{
        display: none;
    }
    .Bouncy__txt{
        margin-bottom: 30px;
    }
    .projects__categories{
        flex-direction: column;
    }
    .projects__categories__item{
        width: 100%;
    }
    .projects__categories_one:hover{
        width: 100%;
    }
    .projects__categories_two:hover{
        width: 100%;
    }
    .projects__categories_three:hover{
        width: 100%;
    }
    .projects__down__txt{
        width: 100%;
    }

    .slider__button{
        width: 25px;
        height: 25px;
        font-size: 1rem;
    }
    .slider__title{
        font-size: 1.4rem;
    }
    .slider__text{
        font-size: 1rem;
        line-height: 15px;
    }
    .services__slide__leftTXT__name{
        font-size: 1.4rem;
        margin-bottom: 20px;
    }
    .services__slide__leftTXT__info{
        font-size: 1rem;
        line-height: 15px;
    }
    .services__slide__rightTXT__progress{
        width: 80px;
        height: 80px;
        font-size: 1.5rem;
    }
    .services__slide__rightTXT__name{
        font-size: 1.2rem;
    }
    .slider__window2{
        height: 200px;
    }

    .impresed__info{
        width: 100%;
    }
    .impresed__name{
        font-size: 1.4rem;
    }
    .impresed__text{
        font-size: 1.1rem;
    }
    .impresed__sign{
        font-size: 0.9rem;
    }


    .slider__left{
        display: none;
    }
    .testimonials__left{
        width: 100%;
    }
    .testimonials__right{
        width: 100%;
    }
    .testimonials__txt{
        font-size: 1.2rem;
        margin-left: 10px;
    }
    .testimonials__name{
        font-size: 1.2rem;
        margin-left: 10px;
    }
    .testimonials__job{
        font-size: 1rem;
        margin-left: 10px;
    }
    .form__information{
        width: 90%;
        margin: 15px auto;
    }
    .form__coment{
        margin: 0 auto;
        width: 90%;
    }
    .form__btn{
        margin: 30px auto 50px;
        width: 90%;
    }
}

@media (max-width: 544px) {
    .portfolio__catalogImg{
        height: 4000px;
    }

}









